/* ---------------------------------------------------
    INDEX
        -General Styles
            -Body
            -Font

----------------------------------------------------- */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    GENERAL STYLES
----------------------------------------------------- */
body {
    font-family:sans-serif;
    background: #E5E5E5;
}

/* ------------ FONT STYLE ------------ */
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i{
    display: inline-block;
}

.title{
    text-transform: uppercase;
}

/* ------------ CONTAINER ------------ */
.wrapper {
    display: flex;
    align-items: stretch;
}

.card, .btn, .form-control {
    border-radius: 0;
}


/* ---------------------------------------------------
    HEADER STYLES
----------------------------------------------------- */


/* ---------------------------------------------------
    NAVIGATION STYLES
----------------------------------------------------- */

/* ------------ TOP NAVIGATION BAR ------------ */
.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-custom {
    background-color: #333333;
    color: white; 
    max-height: 63px;
    min-width: 490px;   
}

.navbar-brand{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ------------ DROPDOWN TOP NAVIGATION BAR ------------*/
.dropdown-custom{
    color: white;
}

.dropdown-custom:hover{
    color: #F0AD4E;
}

.dropdown-item-custom{
    color: #000000;
    font-size: 15px;
}

.dropdown-item-custom:hover{
    background-color: #F0AD4E;
    color: #4285F4;
}

/* ------------ SEARCHBAR TOP NAVIGATION BAR ------------*/
.searchbar{
    border-radius: 10px;
    width: 256px;
    height: 36px;
    top: 11px;
    border-color: #F0AD4E;
}

.searchbar input[type="text"]{
    border-color: #F0AD4E;
}
::-webkit-input-placeholder {
   font-style: italic;
}
