 .breadcrumb {
  background-color: transparent;

 }

 .breadcrumb-item a {
  text-decoration: none;
  color: black;
 }

 /*Breadcrump arrow*/

 .arr-right .breadcrumb-item+.breadcrumb-item::before {
  content: "›";
  vertical-align: top;
  color: white;
  font-size: 35px;
  line-height: 18px;
 }
