body{
    background-color: #cccccc;
}

.navbar-custom {
    background-color: #31708F;
    color: white;
}

.navbar-brand{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
}


.card, .btn, .form-control {
    border-radius: 0;
}

.dropdown-custom{
    color: white;
}

.dropdown-custom:hover{
    color: #F0AD4E;
}

.dropdown-item-custom{
    color: #000000;
    font-size: 15px;
}

.dropdown-item-custom:hover{
    background-color: #F0AD4E;
    color: #4285F4;
}

.searchbar{
    border-radius: 10px;
    width: 256px;
    height: 36px;
    top: 11px;
    border-color: #F0AD4E;
}

.searchbar input[type="text"]{
    border-color: #F0AD4E;
}
::-webkit-input-placeholder {
   font-style: italic;
}


